<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arma tu Pack</title>
    <link rel="stylesheet" href="..\style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <section id="header-2">
        <div class="container">
            <img src="../images/logo.png" class="logo" alt="logo">
        </div>
    </section>

    <nav id="sideNav">
        <ul>
            <li><a href="../index.html">HOME</a></li>
            <li><a href="../index.html#about">QUIENES SOMOS</a></li>
            <li><a href="#">ARMÁ TU PACK</a></li>
            <li><a href="../index.html#offer">OFERTAS</a></li>
            <li><a href="../index.html#contact">CONTACTO</a></li>
            <li><a href="#">TÉRMINOS Y CONDICIONES</a></li>
        </ul>
    </nav>
    <img src="../images/menu.png" id="menuBtn" alt="menuButton">

    <section class="tipobirra">
        <div class="center">
            <h1>Elegi tus Variedades (Hasta 3)</h1>
        </div>
        <div class="contenido-birras">
            <div class="box">
                <img src="../images/beer-blond.png" class="selectBtn" alt="">
                <h3>Rubia</h3>
                <h5>Suave y Refrescante</h5>
            </div>
            <div class="box">
                <img src="../images/beer-red.png" class="selectBtn" alt="">
                <h3>Roja</h3>
                <h5>Dulce y Brillante</h5>
            </div>
            <div class="box">
                <img src="../images/beer-ipa.png" class="selectBtn" alt="">
                <h3>IPA</h3>
                <h5>Frutal y Aromatica</h5>
            </div>
            <div class="box">
                <img src="../images/beer-stout.png" class="selectBtn" alt="">
                <h3>Negra</h3>
                <h5>Intensa y Cremosa</h5>
            </div>

        </div>
    </section>

    <section class="cantidadbirra">
        <div class="center">
            <h1>Elegi el Pack que mas te guste</h1>
        </div>
        <div class="contenido-birras">
            <div class="box">
                <img src="../images/pack-6.png" class="selectBtn" alt="">
                <h3>Pack 6</h3>
                <h5>Menor Precio total</h5>
            </div>
            <div class="box">
                <img src="../images/pack-12.png" class="selectBtn" alt="">
                <h3>Pack 12</h3>
                <h5>Mas Popular</h5>
            </div>
            <div class="box">
                <img src="../images/pack-18.png" class="selectBtn" alt="">
                <h3>Pack 18</h3>
                <h5>Menor precio unitario</h5>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section id="footer">
        <div class="container footer-row">
            <hr>
            <div class="footer-left-col">
                <div class="footer-links">
                    <div class="link-title">
                        <h4>Paquetes</h4>
                        <small>Subscripcion Mensual</small><br>
                        <small>Pedido Único</small>
                    </div>
                    <div class="link-title">
                        <h4>Nosotros</h4>
                        <small>Historia</small><br>
                        <small>FAQs</small>
                    </div>
                    <div class="link-title">
                        <h4>Nuestras Marcas</h4>
                        <small>Listado</small><br>
                        <small>Convertite en Proveedor</small>
                    </div>
                </div>
            </div>
            <div class="footer-right-col">
                <div class="footer-info">
                    <div class="copyright-text">
                        <small>soporte@birrilo.com</small><br>
                        <small>Copyright 2022 Birrilo</small>
                    </div>
                    <div class="footer-logo">
                        <img src="../images/logo.png" alt="logo">
                        <button class="common-button">Español</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- social-icons -->

    <div class="social-icons">
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-linkedin-box-fill"></i></a>
    </div>

    <script>
        var menuBtn = document.getElementById("menuBtn");
        var sideNav = document.getElementById("sideNav");

        sideNav.style.right = "-250px";
        menuBtn.onclick = function () {
            if (sideNav.style.right == "-250px") {
                sideNav.style.right = "0";
            }
            else {
                sideNav.style.right = "-250px";
            }
        }
    </script>

    <script>
        var selectBtn = document.getElementsByClassName("selectBtn");
        var box = document.getElementsByClassName("box");

        box.style.background = "#777";
        selectBtn.onclick = function () {
            if (box.style.background == "#777") {
                box.style.background = "#ADD8E6";
            }
            else {
                box.style.background = "#777";
            }
        }
    </script>

</body>

</html>